html{
    scroll-behavior: smooth;
}
.BlogTitle{
    height:100px;
    width:100%;
    border: 1px dashed red;
    top:100px;
    background-color: #5DA5B6;
}
.BlogTitleTxt{
    position:relative;
    color:white;
    top:20px;
    text-align: center;
}
a{
    text-decoration: none;
    cursor: pointer;
}
p{

}

.GoGreenBlogs{
    top:-15px;
}
.CofeeCartBlogs{
    top:-30px;
}
.BaristaTrainingBlogs{
    top:-45px;
}
.OtherBlogs{
    top:-60px;
}

.CarouselBlog{
    position:absolute;
    top:200px;
    left:300px;
    height:400px;
    width:1550px;
    border: 1px solid black;
}

.FranchiseBlogH1{
    position:Absolute;
    top:650px;
    left:950px;
}

.FranchiseBlog1{
    position:absolute;
    top:750px;
    left: 300px;
    border: 1px double blue;
    height: 350px;
    width:500px;
}
.FranchiseBlog2{
    position:absolute;
    top:750px;
    left: 825px;
    border: 1px double blue;
    height: 350px;
    width:500px;
}
.FranchiseBlog3{
    position:absolute;
    top:750px;
    left: 1350px;
    border: 1px double blue;
    height: 350px;
    width:500px;
}
.FranchiseBlog4{
    position:absolute;
    top:1125px;
    left: 300px;
    border: 1px double blue;
    height: 350px;
    width:500px;
}
.FranchiseBlog5{
    position:absolute;
    top:1125px;
    left: 825px;
    border: 1px double blue;
    height:350px;
    width:500px;
}
.FranchiseBlog6{
    position:absolute;
    top:1125px;
    left: 1350px;
    border: 1px double blue;
    height: 350px;
    width:500px;
}
.GoGreenBlogsH1{
    position:Absolute;
    top:1500px;
    left:950px;
}

.GoGreenBlog1{
    position:absolute;
    top:1590px;
    left: 300px;
    border: 1px double green;
    height: 250px;
    width:500px;
}
.GoGreenBlog2{
    position:absolute;
    top:1590px;
    left: 825px;
    border: 1px double green;
    height: 250px;
    width:500px;
}
.GoGreenBlog3{
    position:absolute;
    top:1590px;
    left: 1350px;
    border: 1px double green;
    height: 250px;
    width:500px;
}
.GoGreenBlog4{
    position:absolute;
    top:1870px;
    left: 300px;
    border: 1px double green;
    height: 250px;
    width:500px;
}
.GoGreenBlog5{
    position:absolute;
    top:1870px;
    left: 825px;
    border: 1px double green;
    height: 250px;
    width:500px;
}
.GoGreenBlog6{
    position:absolute;
    top:1870px;
    left: 1350px;
    border: 1px double green;
    height: 250px;
    width:500px;
}
.GoGreenBlog7{
    position:absolute;
    top:2150px;
    left: 825px;
    border: 1px double green;
    height: 250px;
    width:500px;
}

.CoffeeCartBlogsH1{
    position:Absolute;
    top:2440px;
    left:915px;

}
.CoffeecartBlog1{
    position:absolute;
    top:2525px;
    left: 300px;
    border: 1px double brown;
    height: 250px;
    width:500px;
}
.CoffeecartBlog2{
    position:absolute;
    top:2525px;
    left: 825px;
    border: 1px double brown;
    height: 250px;
    width:500px;
}
.CoffeecartBlog3{
    position:absolute;
    top:2525px;
    left: 1350px;
    border: 1px double brown;
    height: 250px;
    width:500px;
}
.BaristaTrainingH1{
    position:Absolute;
    top:2800px;
    left:880px;
}
.BaristaTrainingBlog1{
    position:absolute;
    top:2880px;
    left: 300px;
    border: 1px double orange;
    height: 250px;
    width:500px;
}
.BaristaTrainingBlog2{
    position:absolute;
    top:2880px;
    left: 825px;
    border: 1px double orange;
    height: 250px;
    width:500px;
}
.BaristaTrainingBlog3{
    position:absolute;
    top:2880px;
    left: 1350px;
    border: 1px double orange;
    height: 250px;
    width:500px;
}
.OtherBlogsH1{
    position:Absolute;
    top:3150px;
    left:950px;
}
.OtherBlog1{
    position:absolute;
    top:3230px;
    left: 300px;
    border: 1px double purple;
    height: 250px;
    width:500px;
    margin-bottom: 25px;
}   
.OtherBlog2{
    position:absolute;
    top:3230px;
    left: 825px;
    border: 1px double purple;
    height: 250px;
    width:500px;
}
.OtherBlog3{
    position:absolute;
    top:3230px;
    left: 1350px;
    border: 1px double purple;
    height: 250px;
    width:500px;
}
body{
    height:3050px;
}
.fb1desc1{  
    position:absolute;
    top:183px;
    border:1px solid black;
}
.fb1desc2{
    position:absolute;
    top:183px;
    border:1px solid black;
}
.fb1desc3{
    position:absolute;
    top:183px;
    border:1px solid black;
}
.fb1desc4{
    position:absolute;
    top:183px;
    border:1px solid black;
}
.fb1desc5{
    position:absolute;
    top:183px;
    border:1px solid black;
}
.fb1desc6{
    position:absolute;
    top:183px;
    border:1px solid black;
}
.fb1desc2 p{


}