body {
    margin: 0;
    padding: 0;
    font-family: cooper black;
    background-color: #fdfcf8;
}

.Con {
    font-size: 70px;
    font-family: cooper black;
    position: absolute;
    top: 180px;
    left: 600px;
    padding-bottom: 30px; /* Adjust this value to move the content closer */
    color: #5DA5B6;
}

p.messageus {
    font-size: 38px;
    font-family: cooper black;
    font-weight: bold;
    text-align: center;
    color:#5DA5B6;
}

.Content {
    font-size: 18px;
    font-family: cooper black;
    color:#000000;
    padding-top: 185px;
    margin-bottom: -73px; /* Adjust this value to move the content closer */
}

nav {
    background: #5DA5B6;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo {
    width: 100px;
    height: auto;
    margin-left: 50px;
}

nav .nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav .nav-links li {
    margin-right: 30px;
}

nav .nav-links li a {
    color: #ffffff;
    text-decoration: none;
}

nav .nav-links li a:hover {
    text-decoration: underline;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin-right: 30px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}




.hero-content {
    text-align: center;
    padding-top: 0px; /* Adjust this value to move the content to the top */
    padding-bottom: 100px;
    color: #ffffff;
}

.ContactUs {
    font-size: 50px;
    margin-top: 100px;
    font-family: cooper black;
    color: #ffffff;
}

main {
    flex: 1;
    display: flex;
    justify-content: flex-start; /* Align items to the left */
    align-items: flex-start; /* Align items to the top */
    padding: 40px;
}

.contact-form {
    width: 30%;
    background-color: #f9f9f9;
    padding: 30px;
    padding-right: 50px;
    padding-top: 1px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: 75px; /* Adjust this value to move the form to the right */
    margin-top: 50px; /* Adjust this value to move the form to the top */
}

.contact-form h2 {
    text-align: center;
    margin-bottom: 40px;
    color: #1cb1d6;
}

.contact-form label {
    display: block;
    font-size: 20px;
    margin-bottom: 5px;
    color: #328295;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.contact-form button {
    padding: 15px 20px;
    font-size: 20px;
    background-color: #5DA5B6;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}

.contact-form button:hover {
    background-color: #328295;
}

footer {
    text-align: center;
    padding: 1em 0;
    background-color: #5DA5B6;
    color: white;
}

.Info {
    position: absolute;
    font-family: cooper black;
    font-size: 25px;
    color: #328295;
    top: 400px;
    left: 800px;
}

.EmailInfo,
.PhoneInfo,
.AddressInfo {
    margin-top: 20px;
    font-family: cooper black;
    font-size: 25px;
    color: #328295;
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;   
}

.EmailInfo i,
.PhoneInfo i,
.AddressInfo i {
    margin-right: 10px;
    font-size: 40px;
}

.EmailInfo div,
.PhoneInfo div,
.AddressInfo div {
    display: flex;
    flex-direction: column;
}

.EmailInfo a,
.PhoneInfo a,
.AddressInfo a {
    margin-left: 10px;
    font-size: 20px;
    color: #328295;
    text-decoration: none;
}

.EmailInfo a:hover,
.PhoneInfo a:hover,
.AddressInfo a:hover {
    text-decoration: underline;
}
.maps{
    position: absolute;
    top:320px;
    padding-left: 50px;
    width: 500px;
    height: 500px;
}
