body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: #5DA5B6;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
}

h1 {
    margin: 0;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

footer {
    background: #35424a;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

.navigation-bar {
    background: #5DA5B6;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation-bar .logo {
    width: 100px; 
    height: auto; 
    margin-left: 50px;
}

.navigation-bar .nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.navigation-bar .nav-links li {
    margin-right: 30px;
}

.navigation-bar .nav-links li a {
    color: #ffffff;
    text-decoration: none;
}

.navigation-bar .nav-links li a:hover {
    text-decoration: underline;
}

.navigation-bar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.navigation-bar ul li {
    margin-right: 30px;
}

.navigation-bar ul li a {
    color: #ffffff;
    text-decoration: none;
}

.navigation-bar ul li a:hover {
    text-decoration: underline;
}

.Hero {
    background: url('../Images/photo_2025-03-12_16-41-44.jpg') no-repeat center center/cover;
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    text-align: center;
    color: #ffffff;
}