/* All CSS Elements are grouped by section indicated a comment on each sections */

/*  Carousel */
.menu{
    min-height: 100vh;
}
.Hero-Carousel{
    position: relative;
    top: 8vh;
    margin-bottom: 5vh;
}
swiper-container {
    width: 100%;
    height: 70vh;
}
swiper-slide {
    margin-top: 5px;
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
}
/*  Menu */

.menu-img{
    height: width * 2;
  }
  .HotDesc , .ColdDesc{
    font-size: 0.8rem;
    color: #0f4c5c;    
  }
  .menu-details{
    text-align: center;
  }
  .menu-details hr{
    border: 1px solid #eecc35;
    margin: 0 auto 2vh auto;
    width: 30%;  
  }
  .Hot-and-Cold{
    display: flex;
    justify-content: space-evenly;
    margin: 0 8% 4% 8%;
  }
  .Slider-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .slide-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: aquamarine;
  }
  .Slides-Img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: aquamarine;
  }
