body {
    font-family: 'montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
main{}


.menu {
    display: flex;
    padding: 20px;
    margin-bottom: 0;
}

.menu-sidebar {
    width: 20%;
    padding-right: 20px;
    border-right: 1px solid #ddd;
    margin-top: 5vh;
}

.menu-sidebar h3 {
    margin-bottom: 10px;
}

.menu-sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-sidebar ul li {
    margin-bottom: 10px;
}

.menu-content {
    width: 80%;
    padding-left: 20px;
    height: 100%;

}

.menu-content h2 {
    margin-bottom: 20px;
}

.menu-items {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    height: 95%;
    overflow-y: auto;
    overflow-x: hidden;
    padding-top: 30px;

}

.menu-item {
    background: #f8f7f5;
    padding: 10px;
    border-radius: 10px;
    border: 0.5px solid rgb(233, 233, 233);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: calc(20% - 20px);
    text-align: center;
    margin-bottom: 10px;

}

.menu-item img {
    width: 20vh;
    height: auto;
    margin-bottom: 10px;
    border-radius: 13px;
}

.menu-item p {
    margin: 10px 0;
}

.rating {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.rating span {
    color: #5DA5B6;
    font-size: 20px;
}
.menu{
    height: 100vh;
}
footer{
    margin-bottom: 0px;
    position: relative;
    bottom: -15px;
}
footer p{
    margin-bottom: 0px;
}
.Item-Name{
    font-size: 20px;
    font-weight: 600;
}
.Item-Type{
    font-size: 12px;
    font-weight: 600;
}
.Item-Desc{
    font-size: 12px;

}
hr{
    width: 80%;
}
.Item-Desc, .Item-Name, .Item-Type, hr{
    color: #285c68;
}

/*  For the Slider hero */
.Sliders{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    background-color: #f4f4f4;

}
.menu-img{
    background: url(../Images/Menu_Images/donut-bg.png); 
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.content{
      width: 40%;
      margin-left: 15%;
      padding-top: 50px;


      
      
  }
  .image .Slider_Image{
      width: 40%;
      float: right;
      margin-right: 30%;
      border-radius: 13px;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
      
    
  }
  .content h1{
   
      font-weight: 900;
      line-height: 80%;
      margin-top: 0;
  }
  .content h6{
      font-size: 2vh;
      font-weight: 100;
      line-height: 80%;
      margin-bottom: 20px;
  }
  .content h5{
      font-size: 2vh;
      font-weight: 600;
      line-height: 80%;
      margin-bottom: 70px;
      margin-top: 10px;
  }
  .content p{
      width: 60%;
      margin-bottom: 20px;
  }
  .MediaIcons .btn{
      background-color: #5DA5B6;
      color: white;
      padding: 10px 20px;
      text-decoration: none;
      border-radius: 5px;
      margin-top: 10px;
  }
  .fab {
      color: #5DA5B6;
      font-size: 3vh;
      margin-left: 10px;
      margin-top: 20px;
  }