p,h1,h2,h3,h4,h5,h6,li,ul,ol,a,span,div{
    font-family: 'montserrat', sans-serif;

}

#hero-content h1{

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-size: 75px;
  background-color: rgba(0, 0, 0, 0.5);
}
.hero-content{
    border: 1px solid black;
    background-color: #5DA5B6;
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    height: 250px;
    text-align: center;
    padding-top: 150px;
    color: white;
}
#hero{
    border: 1px solid black;
    height:300px;
    background-color: aquamarine;
}
.hero {
    background: url('../Images/photo_2025-03-12_16-41-44.jpg') no-repeat center center/cover;
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ffffff;
}

.hero .btn {
    background: #5DA5B6;
    color: #ffffff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}

.hero .btn:hover {
    background: #35424a;
}

.merchandise{
    padding: 50px 0;
    text-align: center;
    max-width: 100%;
    height: 100vh;
    margin-bottom: 12vh;
    
}


.merchandise h2 {
    margin-bottom: 0px;
    font-size: 7vh;
    font-weight: 700;
    color: rgb(37, 155, 170);
}

.merchandise-items {
    display: flex;
    justify-content: center;
    gap: 20px;
    max-width: 80%;
    margin: 15vh auto 20vh auto;
 
}
.merchandise hr,.PromoTitle hr{
    width: 40%;
    margin: 0 auto 20px auto;
    border: 1px solid #5DA5B6;
}

.merchandise .item {
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    align-items: center;
    justify-content: center;
}

.merchandise .item img {
    width: 40vh;
    height: auto;
    margin-bottom: 10px;
}

.promo {

    justify-content: space-between;
    align-items: center;
    padding: 50px;
    background: #f4f4f4;
    
}

.promo-content {
    max-width: 100%;
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../Images/img1.jpg);
    padding-bottom: 50vh;
    padding-top: 5vh;
    color: white;
}

.promo-content h2 {
    margin-bottom: 20px;
    font-size: 7vh;
    font-weight: 800;
}

.promo-content p {
    margin-bottom: 20px;
}
.Sliders .promo-cont{
    max-width: 100%;
    text-align: center;
    background-color: pink;
    padding-bottom: 50vh;
    padding-top: 5vh;
    color: white;
}
.promo .btn {
    background: #5DA5B6;
    color: #ffffff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.promo .btn:hover {
    background: #35424a;
}

.promo-img {
    width: 60vh;
    height: auto;
    border-radius: 13px;
    margin: -3vh auto 2vh auto;
    display: block;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border:2px solid white;
}
 
.bgpromo{
    background-color: #5DA5B6;
    width: 100%;
}
footer{
    margin-top: 0vh;
}

    .Sliders{
        display: flex;
       background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../Images/img1.jpg); 
        background-size: cover;
        background-position: center;
        color: white;
        height: 80vh;
        width: 100%;
        padding-top: 10vh;
        

    }
    .promo-cont{
        display: flex;
        background-size: cover;
        background-position: center;
        height: 80vh;
        width: 100%;
        padding-top: 10vh;
    }
    .item .S1{
        background-color: rgb(58, 186, 190);
        color: white;
    }
    .content{
      /*  background-color: rgb(255, 255, 255);*/
        width: 500vh;
        margin-left: 30vh;
        padding-top: 50px;


        
        
    }
    .image .Slider_Image{
        width: 50vh;
        float: right;
        margin-right: 40vh;
        border-radius: 13px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        
      
    }
    .content h1{
        font-size: 13vh;
        font-weight: 900;
        line-height: 80%;
        margin-top: 0;
    }
    .content h6{
        font-size: 2vh;
        font-weight: 100;
        line-height: 80%;
        margin-bottom: 20px;
    }
    .content h5{
        font-size: 2vh;
        font-weight: 600;
        line-height: 80%;
        margin-bottom: 70px;
        margin-top: 10px;
    }
    .content p{
        width: 60%;
        margin-bottom: 20px;
    }
    .MediaIcons .btn{
        background-color: #5DA5B6;
        color: white;
        padding: 10px 20px;
        text-decoration: none;
        border-radius: 5px;
        margin-top: 10px;
    }
    .fab {
        color: #5DA5B6;
        font-size: 3vh;
        margin-left: 10px;
        margin-top: 20px;
    }
    .container-carousel{
        width: 100%;
        
     
    }

    .merch-pics{
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        width:40vh;
        height: 40vh;
        overflow: hidden;
        background-color: #5DA5B6;
    }
    .S1 h1{
        font-size: 90px;
        margin-bottom: 20px;
    }
    .PromoTitle{
        width: 100%;
        text-align: center;
        color:  #277c8f;
    }
    .PromoTitle h1{
        font-weight: 600;
        margin-bottom: 10px;
        font-size: 40px;
    }
.MerchTitle h1{
    font-weight: 600;
    margin-bottom: 10px;
    font-size: 40px;
}
.MerchTitle{
    color:  #277c8f;
}